[submodule "03 - Recover the Elfen Ring/03.01 - Clone with a Difference/03 - Recover the Elfen Ring/03.01 - Clone with a Difference/aws_scripts"]
	path = 03 - Recover the Elfen Ring/03.01 - Clone with a Difference/03 - Recover the Elfen Ring/03.01 - Clone with a Difference/aws_scripts
	url = http://haugfactory.com/orcadmin/aws_scripts.git
[submodule "03 - Recover the Elfen Ring/03.01 - Clone with a Difference/aws_scripts"]
	path = 03 - Recover the Elfen Ring/03.01 - Clone with a Difference/aws_scripts
	url = http://haugfactory.com/orcadmin/aws_scripts.git
